ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
    gap: 25px;
}

li{
    float: left;
}

a{
    display: block;
    padding: 8px;
    text-decoration: none;
}


